/** custom **/
body {
	background-image: url('../img/grey.png');
}
.thmes {
	width: 15%;
}
.mes {
	width: 25%;
}
.thanio {
	width: 2%;
}
.time {
	width: 12%;
}
.thdia {
	width: 3%;
}
.thcenter {
	text-align: center !important;
}
.thhora {
	width: 20%;	
}
.thacc {
	width: 9%;
}
.right {
	float: right;
}
.right2 {
	float: right;
	margin-right: 10px;
}
.filahora {
	/*background: red;*/
}